<div class="container">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-sm-0">
          <li class="nav-item">
            <a
              class="nav-link"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}"
              aria-current="page"
              routerLink="/"
            >
              Home
            </a>
          </li>
          <li class="nav-item">
            <a
              [routerLink]="['user', 1]"
              routerLinkActive="active"
              class="nav-link"
              aria-current="page"
            >
              User 1
            </a>
          </li>
          <li class="nav-item">
            <a
              [routerLink]="['user', 2]"
              routerLinkActive="active"
              class="nav-link"
              aria-current="page"
            >
              User 2
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <hr />
  <p *ngIf="activated">!!!Activated!!!</p>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
